/* Preloaders CSS */
/* .spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
.spinner-2 {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout2 1.0s infinite ease-in-out;
    animation: sk-scaleout2 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
@keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
.factorian-site-preloader-wrap {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.factorian-site-preloader-wrap .spinner-2 {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
} */

/*  */


.nav-item:hover > a{
    color: #0d6efd;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
}
/* image overlay */
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.carousel-caption{
    top: 40%;
}

.blue-container{
    width: 100%;
    background: #038fd3;
    color: #fff;
    margin-top: -32px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


/* newsletter */
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .carousel-item {
        height: 400px;
        overflow: hidden;
        background-size: cover;
    }
    #services{
        text-align: center;
    }
}